.handburgerbutton {
  width: 1.875rem;
  height: 0.05rem;
  background-color: black;
  margin: 0.625em;
}
#navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: 1px solid black;
}

.flex {
  display: flex;
}
#navbar-logo {
  justify-content: space-around;
  width: 45%;
  align-content: center;
}
