.tutor-information {
  max-height: 100%;
  display: flex;
  /*! padding-right: 50px; */
  justify-content: space-between;
  background: red;
  border: 2px solid black;
  align-content: center;
  align-items: center;
  width: 330px;
  height: 135px;
  padding: 18px;
  border-radius: 31px;
  gap: 18px;
  flex-direction: row reverse;
}
