.tutor-selection {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.tutor-information {
  margin-bottom: 25px;
}
.btn {
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 31px;
}
