.booking-information {
  width: 330px;
  height: 200px;
  border: solid black;
  border-radius: 20%;
  margin: 20px;
  justify-content: center;
}
.inner-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inner-div p {
  margin: 0;
  padding: 0;
}
.language-div {
  display: flex;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.language-div p {
  padding-right: 15px;
  margin: 0;
}
.tutor-name {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: medium;
  letter-spacing: 2px;
}
